name: Java CI with Ant

on:
  push:
    branches: [main, KhanbanTasks]
  pull_request:
    branches: [main, KhanbanTasks]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Build with Ant
        run: ant -noinput -buildfile build.xml

      - name: Run JUnit tests
        run: ant test
